<div class="boddy">
  <Btns>
    <input
      id="search-input"
      type="text"
      placeholder="Search here..."
      value={{this.title}}
      {{on "input" this.updateTitle}}
    />
    <button type="button" class="btn add-btn"><LinkTo @route="addm" ><i class="fas fa-plus"></i> Add </LinkTo></button>

    <button type="button" class="btn delete-btn" {{on "click" this.deleteSelected}}>
  <LinkTo @route="delm"><i class="fas fa-trash"></i> Delete</LinkTo>
</button>

<LinkTo @route="editMovie" class="btn edit-btn"><i class="fa-solid fa-pen"></i> Edit</LinkTo>

  </Btns>

  <div class="tb">
    <table class="movie-table">
      <thead>
        <tr>
          <th>S.No</th>
          <th>Name</th>
          <th>Year</th>
          <th>Genre</th>
          <th>IMDb</th>
          <th>Box Office</th>
          
        </tr>
      </thead>

        <tbody>
          <VerticalCollection
          @items={{this.filteredMovies}}
          @containerSelector=".tb"
          @estimateHeight={{50}}
          @staticHeight={{false}}
          @bufferSize={{5}}
          @lastReached={{this.lastReachedCallback}}
          as |movie index|
        >
          <tr class="movie-row">
            <td>{{movie.id}}</td>
            <td>{{movie.name}}</td>
            <td>{{movie.year}}</td>
            <td>{{movie.genre}}</td>
            <td>{{movie.imdb}}</td>
            <td>{{movie.box_office}}</td>
          

          </tr>
        </VerticalCollection>
        </tbody>

    </table>
  </div>
</div>
