<div class="boddy">
  <Btns>
    <input
      id="search-input"
      type="text"
      placeholder="Search by movie name"
      value={{this.title}}
      {{on "input" this.updateTitle}}
    />
    <button type="button"><LinkTo @route="addm" class="btn add-btn"><i class="fas fa-plus"></i> Add Movie</LinkTo></button>

    <button type="button" class="btn delete-btn">
      <i class="fas fa-trash"></i> Delete
    </button>
  </Btns>

  <div class="tb">
    <table class="movie-table">
      <thead>
        <tr>
          <th>S.No</th>
          <th>Name</th>
          <th>Year</th>
          <th>Genre</th>
          <th>IMDb</th>
          <th>Box Office</th>
        </tr>
      </thead>
      <tbody>
        {{#each this.filteredMovies as |movie|}}
          <tr>
            <td>{{movie.id}}</td>
            <td>{{movie.name}}</td>
            <td>{{movie.year}}</td>
            <td>{{movie.genre}}</td>
            <td>{{movie.imdb}}</td>
            <td>{{movie.box_office}}</td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
</div>
