<div class="boddy">
  <Btns>
    <input
      id="search-input"
      type="text"
      placeholder="Search here..."
      value={{this.title}}
      {{on "input" this.updateTitle}}
    />
<div {{on-key 'ctrl+a' this.addShortcut}}  class="keyboard-shortcuts">
  <LinkTo @route="addm" class="btn add-btn">
    <i class="fas fa-plus"></i> Add
  </LinkTo>
</div>

   <!-- DELETE -->
<div {{on-key 'ctrl+d' this.deleteShortcut}} class="keyboard-shortcuts">
  <LinkTo @route="delm" class="btn delete-btn">
    <i class="fas fa-trash"></i> Delete
  </LinkTo>
</div>

<!-- EDIT -->
<div {{on-key 'ctrl+e' this.editShortcut}} class="keyboard-shortcuts">
  <LinkTo @route="editMovie" class="btn edit-btn">
    <i class="fa-solid fa-pen"></i> Edit
  </LinkTo>
</div>

<!-- FETCH -->
<div {{on-key 'ctrl+f' this.fetchShortcut}} class="keyboard-shortcuts">
  <LinkTo @route="fetch-movies" class="btn fetchh-btn">
    <i class="fas fa-tv"></i> Fetch
  </LinkTo>
</div>


  </Btns>

  <div class="tb">
    <table class="movie-table">
      <thead>
        <tr>
          <th>S.No</th>
          <th>Name</th>
          <th>Year</th>
          <th>Genre</th>
          <th>IMDb</th>
          <th>Box Office</th>
          
        </tr>
      </thead>

        <tbody>
          <VerticalCollection
  @items={{this.filteredMovies}}
  @containerSelector=".tb"
  @estimateHeight={{50}}
  @staticHeight={{false}}
  @bufferSize={{5}}
  @firstReached={{this.firstReachedCallback}}
  @lastReached={{this.lastReachedCallback}}
  as |movie index|
>
          <tr class="movie-row">
            <td>{{movie.id}}</td>
            <td>{{movie.name}}</td>
            <td>{{movie.year}}</td>
            <td>{{movie.genre}}</td>
            <td>{{movie.imdb}}</td>
            <td>{{movie.box_office}}</td>
          </tr>
        </VerticalCollection>
        </tbody>

    </table>
  </div>
</div>
