<div class="boddy">
  <Btns>
    <input
      id="search-input"
      type="text"
      placeholder="Search here..."
      value={{this.title}}
      {{on "input" this.updateTitle}}
    />
    <button type="button" class="btn add-btn"><LinkTo @route="addm" ><i class="fas fa-plus"></i> Add Movie</LinkTo></button>

    <button type="button" class="btn delete-btn" {{on "click" this.deleteSelected}}>
  <LinkTo @route="delm"><i class="fas fa-trash"></i> Delete</LinkTo>
</button>

<LinkTo @route="editMovie" class="btn add-btn">Edit</LinkTo>

  </Btns>

  <div class="tb">
    <table class="movie-table">
      <thead>
        <tr>
          <th>S.No</th>
          <th>Name</th>
          <th>Year</th>
          <th>Genre</th>
          <th>IMDb</th>
          <th>Box Office</th>
          
        </tr>
      </thead>

        <VerticalCollection
        @items={{this.filteredMovies}}
        @tagName="tbody"
        @estimateHeight={{50}}
        @staticHeight={{true}}
        @bufferSize={{5}}
        @containerSelector=".tb"
      as |movie|
    >
          <tr class="movie-row">
            <td>{{movie.id}}</td>
            <td>{{movie.name}}</td>
            <td>{{movie.year}}</td>
            <td>{{movie.genre}}</td>
            <td>{{movie.imdb}}</td>
            <td>{{movie.box_office}}</td>
          

          </tr>
        </VerticalCollection>

    </table>
  </div>
</div>
