{{! edit-movie.hbs }}

<div class="edit-container">
<div class="tb">
      <table class="movie-table">
        <thead>
          <tr>
            <th>S.No</th>
            <th>Name</th>
            <th>Year</th>
            <th>Genre</th>
            <th>IMDb</th>
            <th>Box Office</th>
            <th>Action</th>
          </tr>
        </thead>

        <VerticalCollection
          @items={{this.movies}}
          @tagName="tbody"
          @estimateHeight={{50}}
          @staticHeight={{true}}
          @bufferSize={{5}}
          @containerSelector=".tb"
          as |movie index|
        >
          <tr class="movie-row">
            <td>{{movie.id}}</td>
            <td>{{movie.name}}</td>
            <td>{{movie.year}}</td>
            <td>{{movie.genre}}</td>
            <td>{{movie.imdb}}</td>
            <td>{{movie.box_office}}</td>
            <td>
              <div class="editt">
                  <button class="btn" type="button" {{on "click" (fn this.editMovie movie)}}>Edit</button>

              </div>       
            </td>
          </tr>
        </VerticalCollection>
      </table>
    </div>
  {{#if this.selectedMovie}}
  <div class="modal-overlay" >
  <div class="modal-content" >
      <form {{on "submit" this.saveChanges}}>
        <div class="edit-form">
          <h2>Edit Movie</h2>
          <label>Name: <input type="text" value={{this.editedFields.name}} {{on "input" (fn this.updateField "name")}} required /></label>
          <label>Year: <input type="text" value={{this.editedFields.year}} {{on "input" (fn this.updateField "year")}} required/></label>
          <label>Genre: <input type="text" value={{this.editedFields.genre}} {{on "input" (fn this.updateField "genre")}} required/></label>
          <label>IMDb: <input type="text" value={{this.editedFields.imdb}} {{on "input" (fn this.updateField "imdb")}} required/></label>
          <label>Box Office: <input type="text" value={{this.editedFields.box_office}} {{on "input" (fn this.updateField "box_office")}} required/></label>
          <div class="modal-actions">
            <button type="submit" class="btn save-btn">Save</button>
            <button type="button" class="btn cancel-btn" {{on "click" this.closeModal}}>Cancel</button>
          </div>
        </div>
      </form>
    </div>
  </div>
{{/if}}

</div>
