<div class="fetch-btn">
    <div class="btn1">
    <button class="btn add-btn" {{on "click" this.fetchMovies}}>Fetch Movies 1</button>

<ul>
  {{#each this.topFiveTraditional as |movie|}}
    <li>{{movie.name}}</li>
  {{/each}}
</ul>
</div>
<div class="btn2">
    
<button class="btn add-btn" {{on "click" this.fetchMoviesModern}}>Fetch Movies 2</button>

{{#if this.isLoading}}
  <p>Loading movies…</p>
{{else}}
  <ul>
    {{#each this.topFiveModern as |movie|}}
      <li>{{movie.name}}</li>
    {{/each}}
  </ul>
{{/if}}
</div>

</div>